@media (prefers-color-scheme:light) {
	:root{
		--text: #474747;
		--bg: #f7f7f7;
	}
}
@media (prefers-color-scheme: dark) {
	:root{
		--text: #dddddd;
		--bg: #333333;
	}
}
body, .inherit{
	margin:1%;
	padding:1%;
	font-family: "Source Sans Pro",sans-serif;
	background-color: var(--bg);
	color: var(--text);
	user-select: none;
}
.common{
	width: -webkit-fill-available;
	border: 1px solid var(--text);
	border-radius: 20px;
	font-size: 2em;
}
textarea{
	resize: none;
	box-sizing: border-box;
	field-sizing: content;
}
#inp_container, #undone, #done{
	display: grid;
	grid-template-rows: auto;
}
#inp_container{
	grid-template-columns: 1.8fr 0.2fr;
}
#undone{
	grid-template-columns: 1.8fr 0.1fr 0.1fr;
}
#done{
	grid-template-columns: 1.8fr, 0.1fr 0.1fr;
}