@media (prefers-color-scheme:light) {
	:root{
		--text: #474747;
		--bg: #f7f7f7;
	}
}
@media (prefers-color-scheme: dark) {
	:root{
		--text: #dddddd;
		--bg: #333333;
	}
}
*{
	margin:0;
	padding:0;
	font-family: "Source Sans Pro",sans-serif;
	background-color: var(--bg);
	color: var(--text);
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}
div{
	align-content: center;
	text-align:center;
	margin:0.2%;
	padding:0.2%;
}
table{
	width:100%;
	text-align:center;
}
#hide{
	display:none;
	width:100%;
	font-size:xxx-large;
}
.about{
	border:1px solid var(--text);
	border-radius:3px;
	disabled:true;
	width:10%;
	padding:10%;
	margin:0%;
}
#bot{
	background-color:#ff9800;
}
#you{
	background-color:#108b8c;
}
.buttons{
	padding:5%;
	margin:0.2%;
	cursor:pointer;
	min-width: 70px;
	min-height: 70px;
}
.buttons, .reset, .go{
	border:1px solid var(--text);
	border-radius:3px;
}
.buttons:hover, .reset:hover, .go:hover{
	background-color:#108b8c;
	color:#052830;
}
.buttons:active, .reset:active, .go:active{
	background-color:#ff9800;
	color:#052830;
}